{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <!-- edit_profile.html -->
    <div id="createProfileContainer">
        <div style="width: 40px; height: 40px;
        border: 5px solid rgb(155 217 70);
        border-radius: 20px;display: flex;align-items: center;
        justify-content: center;">
        </div>

        <h2 id="headerProfCreation">Edit Your Profile</h2>
        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="profileImg10">
                <img id="previewWindowProfile" src="{{initial_data.profile_picture}}">
                <input type="file" accept="image/*" name="profile_picture" id="id_profile_picture" onchange="previewImage(event)">
                <span id="a_plus_sign">+</span>
            </div>
            <div id="profilebio10">
                <span>Tell people about you...</span>
                <textarea name="bio" maxlength="100" id="id_bio">{{ initial_data.bio }}</textarea>
            </div>
            <div id="profilelocation10">
                <span>Your Location</span>
                <input type="text" name="location" id="id_location" maxlength="50" value="{{ initial_data.location }}">
            </div>
            <input type="submit" value="Save Changes" id="id_profile10submit" disabled>
        </form>
    </div>

    <script>
        document.getElementById('a_plus_sign').addEventListener('click', ()=>{
            document.getElementById('id_profile_picture').click();
        });

        // Function to enable or disable the submit button based on file input status
        function toggleSubmitButton() {
            const fileInput = document.getElementById('id_profile_picture');
            const submitButton = document.getElementById('id_profile10submit');

            submitButton.disabled = !fileInput.value; // Disable the button if no file is selected
        }        

        // image preview
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('previewWindowProfile');
            
            const file = input.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(file);
                
                // Enable the submit button when a file is selected
                toggleSubmitButton();
            } else {
                preview.src = ''; // Clear the preview if no file is selected
            }
        }

        // Listen for changes in the file input to update the submit button status
        document.getElementById('id_profile_picture').addEventListener('input', toggleSubmitButton);        
    </script>
{% endblock content %}
