<div class="options" id="options">
        <a href="#">Not interested in this post</a>
        <hr>
        <a id="follow-username" href="#" style="display: block;">Follow @{{post.user.user.username}}</a>
        <a id="mute-username" href="#" style="display: block;">Mute @{{post.user.user.username}}</a>
        <a id="block-username" href="#" style="display: block;">Block @{{post.user.user.username}}</a>
        <hr>
        <a href="">Report post</a>
    <button class="close" style="outline: none; background-color: bisque;color: black; border-radius: 10px;cursor: pointer;">Close</button>
</div>